.creator_work {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    height: 100px;
}

.creator_work_image_wrapper {
    display: flex;
    padding: 0px 10px;
}

.creator_work_image {
    padding-right: 10px;
    width: 200px;
    height: 200px;
}
